<div id="banner" class="jumbotron jumbotron-fluid">
  <div class="container">
  </div>
</div>

<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.photo.attached? %>
          <div id="card" class="col-lg-3" style="background-image: url(<%= cl_image_path cocktail.photo.key %>); background-size: cover; background-position: bottom;">
            <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
