<div class="container p-3 my-3">
  <h1>Create a new Cocktail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-danger" %>
<% end %>
</div>
