#banner {
  background-image: asset-url('background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  text-align: center;
  .container {
    margin-top: 200px;
  }
}

#banner-typed-text {
  font-size: 35px;
  color: white;
}