.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-white {
  background-color: white;
}

p {
  font-family: 'Syne Mono', monospace;
  color: #FAFAFA;
  font-size: 30px;
  margin: 16px;

  &:hover {
    color: $red;
  }
}


#create {
  text-decoration: none;
  color: white;
  padding: 8px;
  &:hover {
    color: $red;
    border: 1px solid $red;
    border-radius: 5px;
  }
}
